@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color:bisque;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    background-color: red;
    width: 100px;
    border-radius: 0px;
    height: 50px;
    position: relative;
}

.button{
    animation-name: bColor;
    animation-duration: 10s;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: linear; */
    /* animation-delay: 2s; */
    /* animation-fill-mode: forwards; */
    /* animation: test 10s linear 2s infinite forwards; */
}

@keyframes bColor {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
    100% {background-color: red;}
}

@keyframes position {
    0%   {left:0px; top:0px;}
    25%  {left:300px; top:300px;}
    50% {left:300px; top:500px;}
    75% {left:-400px; top:250px;}
    100% {left:0px; top:0px;}
}

@keyframes both {
    0%{
        background-color:red;
        left:0px; top:0px;
    }
    25%{
        background-color:yellow;
        left:300px; top:300px;
    }
    50%{
        background-color:blue; 
        left:300px; top:500px;
    }
    75%{
        background-color:green; 
        left:-400px; top:250px;
    }
    100%{
        background-color:red; 
        left:0px; top:0px;
    }
}

.typewriter h1 {
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    margin-bottom: 50px;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end) infinite , 
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    40% { width: 0 }
    80% { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

